{% extends "UserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% embed "UserBundle::single_box.html.twig" %}
        {% block title %}
            {{ 'resetting.check_email.title'|trans }}
        {% endblock %}

        {% block body %}
            <p>{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}</p>
        {% endblock %}
    {% endembed %}
{% endblock fos_user_content %}
