{% extends "UserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% embed "UserBundle::single_box.html.twig" %}
        {% block title %}
            {{ 'resetting.password_already_requested.title'|trans }}
        {% endblock %}

        {% block body %}
            <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
        {% endblock %}
    {% endembed %}
{% endblock fos_user_content %}
