{% extends "UserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% embed "UserBundle::single_box.html.twig" %}
        {% block title %}
            {{ 'resetting.request.title'|trans }}
        {% endblock %}

        {% block body %}
            {% if invalid_username is defined %}
                <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
            {% endif %}
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock fos_user_content %}
