/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/bower_components/
/composer.phar
/node_modules/
/vendor/
/web/bundles/
/web/uploads/
/web/css/
/web/js/
/web/fonts/
/web/img/
.idea
/.composer/
.viminfo
