/app/config/parameters.yml
/bin/
/build/
/composer.phar
/vendor/
/var/
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep
/phpunit.xml
.idea
.viminfo
npm-debug.log
/web/bundles/
/web/uploads/
/web/css/
/web/js/
/web/fonts/
/web/images/
/web/media/
/bower_components/
/node_modules/