{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% embed "UserBundle::single_box.html.twig" %}
        {% block title %}
            {{ 'register.check_email.title'|trans }}
        {% endblock %}

        {% block body %}
            <p>{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>
        {% endblock %}
    {% endembed %}
{% endblock fos_user_content %}
