{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="col-md-8 col-md-offset-2">
    <div class="login-panel panel panel-default text-center">
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'register.check_email.title'|trans }}</h3>
        </div>
        <div class="panel-body">
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>
        </div>
    </div>
</div>
{% endblock fos_user_content %}
