{% extends '::base.html.twig' %}

{% block title %}{{ 'layout.login'|trans({}, 'FOSUserBundle') }}{% endblock %}

{% block body_attributes %}style="background: url({{ asset('images/background.jpg') }}) no-repeat fixed"{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% block fos_user_content %}{% endblock %}
        </div>
    </div>
{% endblock %}

